.common_table {
    width: fit-content;
    vertical-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.common_table th, .common_table td {
    padding: 6px;
    vertical-align: middle;
    border-collapse: collapse;
    box-shadow: 0 13px 4px rgba(0, 0, 0, 0.18);
    color: #ffffff;
    font-weight: bold;
}

.common_table th {
    color: white;
    background: #c1aef5;
    background: linear-gradient(-180deg, #8d75d0 0%, rgba(121, 90, 208, 0.87) 100%);
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.common_table tbody td {
    text-align: center;
    padding: 10px;
    background: linear-gradient(180deg, rgba(20, 19, 47, 0.63) 8.9%, rgba(115, 124, 168, 0.89) 100.0%);
    font-size: large;
}

.edit-btn, .delete-btn {
    background: linear-gradient(90deg, #705CA6 0%, rgba(97, 68, 173, 0.98) 100%);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.edit-btn:hover, .delete-btn:hover {
    opacity: 0.8;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #ddd;
}

.addRecord {
    color: rgba(97, 68, 173, 0.98);
    font-size: x-large;
    border-color: rgba(97, 68, 173, 0.98);
    border-radius: 15px;
    margin-top: 1em;
    filter: drop-shadow(-5px 8px 5px rgba(0, 0, 0, 0.25));
}

.table_search {
    align-self: flex-end;
    margin-bottom: 1em;
}

.table_search_icon {
    min-width: available;
    min-height: fit-content;
}